@model List<ExpenseTypeDto>


<table id="datatable" style="width:100%" class="table table-hover table-striped">
    <thead class="thead-info">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Gider Tipi</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var expense in Model)
    {
        <tr>
            <td>@expense.Id</td>
            <td>@expense.ExpenseTypeName</td>
        </tr>
    }
    </tbody>
</table>