@model MessageDto


<form asp-controller="Home" asp-action="SendMessage">
    <div class="mb-3">
        <label asp-for="ReceiverEmail">Kullanıcı Mail</label>
        <input type="email" asp-for="ReceiverEmail" class="form-control" placeholder="Email adresi..."/>
    </div>
    <div class="mb-3">
        <label asp-for="MessageContent" class="form-label"></label>
        <textarea asp-for="MessageContent"></textarea>
        <script type="text/javascript">CKEDITOR.replace('MessageContent');</script>
    </div>
   
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>