@{
    Layout = "_Layout";
}

<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center">
                    <h1 class="error-number">500</h1>
                    <h2>Internal Server Error</h2>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>