@model CreateExpenseDto

<form asp-controller="Expense" asp-action="AddExpenseMultiple">
    <div class="mb-3">
        <label asp-for="ExpenseTypeId">Gider Tipi</label>
        <select asp-for="ExpenseTypeId" class="form-control"
                asp-items="@(new SelectList(Model.ExpenseTypes, "Id", "ExpenseTypeName"))">
            <option>Lütfen birini seçiniz</option>
        </select>
         <span asp-validation-for="ExpenseTypeId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="IsPaid">Fiyat</label>
        <input type="text" class="form-control" asp-for="Price"/>
         <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>