@model AnnouncementDto
<form asp-controller="Announcement" asp-action="UpdateAnnouncement">
    <div class="mb-3">
        <label asp-for="AnnouncementText">Duyuru</label>
        <textarea asp-for="AnnouncementText" ></textarea>
        <span asp-validation-for="AnnouncementText" class="text-danger"></span>
        <script type="text/javascript">CKEDITOR.replace('AnnouncementText');</script>
    </div>
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>